@import "bootstrap-sprockets";
@import "bootstrap";

.jumbotron {
  color: white;
  background-image: url("https://images.unsplash.com/photo-1518176258769-f227c798150e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.jumbotron h1 {
  text-align: right;
}

#brand {
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
